main{
    display: flex;
}

main >*:nth-child(2){
    flex:2;
   
}


aside{
    min-width:20%;
    border-right:1px solid grey;

}

aside > ul{
    padding: 0;
}
label{
    font-weight: bolder;
    padding:.5rem;
}

.link{
    display: block;
    padding:1rem;
    text-decoration: none;
    color:grey;
    borfder-bottom: 1px solid black;
    font-weight: bolder;
  
}
.link:hover{
    background-color: grey;
    border-radius: .5rem;
    color:white;
}


.blog-form{
    display: flex;
    flex-flow: column wrap;
    gap:1rem;
    padding:1rem;
}

.blog-form > * {
    display: block;
}

.form-group{
    min-width: 100%;
}

.form-group > *{
    min-width: 100%;
    display: block;
}
 
.form-group > input{
    line-height: 3;
    border:none;
}

.form-group > input,textarea{
    border-radius: .5rem;
}

.form-buttons{
    display:flex;
    justify-content: space-around;
    gap:2rem;
}

.form-buttons>*{
    flex:1;
    line-height: 3;
    border-radius: .5rem;
    border:none;
    border-radius:.5rem;
    background-color: #3D63DD;
    color:white;
    font-weight: bolder;
}

select{
    line-height: 5;
}

