
main{

    display:flex;
    justify-content: space-around;
    
    min-height: 100%;


}

form{
    
    display:flex;
    flex-flow:column;
    gap:.5rem;
    flex: 0.3;
    borfder:1px solid black;
    padding:.5rem;
    border-radius: .5rem;
   
    border:1px solid #222222;
    
    
   
}
form > div{
    flex:1;
    display:block;


}

div > *{
    flex:1;
    line-height: 3;
    display:block;
    min-width: 100%;  
}

div > button{
    color:white;
    max-width: 50%;
    border-radius: .5rem;;
    background-color: #0056B3;
}
input{
    border: none;
   
    background-color: #F5F5F5;
    color:#333333;
    border-color: #CCCCCC;
    border-bottom: #222222 1px solid;
}
label{
    color:#222222;
}

