
aside{
    position: sticky;
    left:0px;
}

main{
    display: flex;
    min-sheight: 100%;
    overflow-x: auto;
  
}

main > *:nth-child(2){
    flex:2;
    border:2px solid black;
}

.main-content{

    display:flex;
    flex-direction: column;
    align-content: center;
   
}

.main-content > * {
    padding:1rem;
    fldex:1;
    border:1px solid black;
}

.main-content > *:nth-child(2){
    fdex:2;
}
.author-blogs{
    
}
.blog-card{
    border:2px solid red;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin:.5rem;

}